@font-face {
    font-family: "dragonhunter";
    src: url("assets/fonts/dragonhunter.otf") format("opentype");
}

@font-face {
    font-family: "medieval";
    src: url("assets/fonts/") format("opentype");
}

h1 {
    font-family: "dragonhunter", sans-serif;
}